# Course: CST-205
# Title: ProjectK9
# Authors: Jeff San Paolo
# Date: 12/10/2017
# Description of page: This page is the report animals page which is used to 
# take in details regarding a missing animal and send it to our database.

<head>
<title> Report a lost friend </title>
<style>

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body style = "background-color:LightBlue" > </body>

<div class="topnav">
  <a href = "" > Home </a>
  <a class = "active" href="/Report">Report Lost Animals</a>
  <a href="/Search">Search Animals</a>
  <a href=""> Shelter Page </a>
  <a href=""> Login </a>
</div>

<h1 style = "color:Black"> <center> Report a lost animal below by filling out the fields <br> </center>
 </h1>

<br><br><h2> <form action = "">
<center>
Name:  <input type = "text" name = "name"> <br>
Type:  <input type = "text" type = "type"> <br>
Location: <input type = "text" location = "location"> <br>
Age:  <input type = "text" age = "age"> <br>
Breed: <input type = "text" breed = "breed"> <br>
Color: <input type = "text" color = "color"> <br>
<input type = "submit" vaue = "Submit">
</center>
</form>
</h2>
