{% extends "index.html" %}
{% block body %}
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Contact Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group" style="margin-top: 20px">
    <label for="exampleFormControlSelect1">One Type of Pets</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Chicken</option>
      <option>Cat</option>
      <option>Dog</option>
      <option>Turtle</option>
      <option>Something else</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Many Type of Pets</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>chicken</option>
      <option>Cat</option>
      <option>Dog</option>
      <option>Turtle</option>
      <option>Something else</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Describe Your Pet or Pets</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
{% endblock %}
