<head>
<title> Adopt a new buddy! </title>

<style>

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body style = "background-color:LightBlue">

<div class="topnav">
  <a href = "" > Home </a>
  <a href= "/Report"> Report Lost Animals</a>
  <a class = "active" href="/Search"> Search Animals</a>
  <a href=""> Shelter Page </a>
  <a href=""> Login </a>
</div>

<h1 style = "color:Black"> <center> Search for a new buddy to adopt below </center> </h1>
<br><br>

<form action = "/Log">
<h2><center>
Name: <input type = "text" name = "name"> <br>
Breed: <input type = "text" breed = "breed"> <br>
Location: <input type = "text" location = "location"> <br>
Age:  <input type = "text" age = "age"> <br>
Color: <input type = "text" color = "color"> <br>
<input type="submit" value="Submit">
</center>
</form>

</h2>
</body>
