{% extends "index.html" %}
{% block body %}
    <h1 style="text-align:center;">Marina Animal Shelter</h1>
    <p>
      Marina Animal Shelter is an all-volunteer, non-profit, animal rescue based
       in Marina, CA. Our mission is to relieve overcrowded animal shelters through
       rescue, thereby reducing euthanasia.
       Formed in 2017, Marina Animal Shelter starts Animal Shelter Relief rescue,
       the ONLY local animal rescue all kinds of animals, including chickens and
       turtles. The founders know what help is needed at the County Animal Shelter
       and formed a rescue to meet those needs and relieve the overcrowding and
       subsequent euthanasia of otherwise adoptable animals.
    </p>
    <div class = "format">
        <img src="/static/img/May_you_give_me_a_home_cat.jpg" alt="Girl with a jacket" width="280" height="350">
        <img src="/static/img/May_you_give_me_a_home_chicken.jpg" width="280" height="350">
        <img src="/static/img/1432445269_1a.jpg" width="280" height="350">
        <img src="/static/img/DSCN7277.JPG" width="280" height="350">
        <img src="/static/img/DSCN8382.JPG" width="280" height="350">
        <img src="/static/img/DSCN7287.JPG" width="280" height="350">
        <img src="/static/img/1452976905_2a.jpg"  width="280" height="350">
        <img src="/static/img/DSCN5353.JPG" width="280" height="350">
        <img src="/static/img/1429062255_1a.jpg" width="280" height="350">
    </div>
{% endblock %}